<div class="sidebar">
    <ul>
        <li><a class="nav-trans" href="#main">Account</a></li>
        <li><a class="nav-trans" href="#update">Update</a></li>
        <li><a class="nav-trans" href="#sightings">Sightings</a></li>
    </ul>
</div>

<div id="main" class="main" style="height: 410px; background: url('/images/birdbg2.jpg'); background-size:cover; background-position:top">
<div class="nav" style="position:relative;">
        <nav style="width:100%; height:65px; text-align:right; background: rgba(0,0,0,0.1);">
                <h2 class="mt-3 ml-4" style="float:left;"><i class="fas fas fa-feather fa-1x"></i>    Birdhub</h2>
                <div class="menu">
                <ul>
                    <li><a href="/" class="nav-trans">Search</a></li>
                    <li><a href="/users/logout" class="nav-trans">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>   
    <h1 style="text-align:center; margin-top:40px; font-size:40px;">Account</h1>
    <p style="text-align:center; color: #404040; font-size:16px;">Update your account information, <br>and view past bird sightings</p>  
</div>

<div id="update"  class="info pt-3 pb-3">
<form action="/users/account" method="POST">
<div class="container" style="width:50%; margin-left:auto; margin-right:auto;">
        <h2 style="text-align:center; margin-top:30px;">- Update Info -</h2> 
    <%- include ('partials/messages') %>
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">First name: </label>
        <input type="text" class="form-control" placeholder="<%if(updatedUser.first_name){%><%=updatedUser.first_name%> <%}else{%><%=user.first_name%><%}%>" id="inputDefault" name="inputFname">
    </div>
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Last name: </label>
        <input type="text" class="form-control" placeholder="<%if(updatedUser.last_name){%><%=updatedUser.last_name%> <%}else{%><%=user.last_name%><%}%>" id="inputDefault" name="inputLname">
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-5 mb-4">Update</button>
</div>  
</form>
</div>

<div id="sightings" class="sightings">
    <div class="container">
        <%if(userSightings.length == 0) { %>
            <div class="no-results">
                <h2 class="pt-4 pb-2" >No Sightings Yet!</h2>
                <p>Search for birds to add sightings and save them to your page!</p>
            </div>
            <% } else if(userSightings.length < 3) {%>
                <h2 class="pt-4 pb-2" style="text-align:center;">- Sightings -</h2>
                <p style="text-align:center;">View all of your past bird sightings.</p>
                <% for(let i = 0; i < userSightings.length; i++) { %>
                    <% if(userSightings[i]) { %>
                    <div class="col1 col-md-12" data-aos="fade-up">
                        <div class="card card-wide text-black bg-secondary mb-3" style="height:400px;">
                            <div class="card-header"><%=userSightings[i].bird.species %></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="image-wide col-md-6 col-sm-12">
                                        <img src="/images/<%=userSightings[i].bird.image%>" alt="image">
                                    </div>
                                    <div class="text-holder-wide col-md-6 col-sm-12">
                                        <div class="text-area text-area-wide mb-4">
                                            <h3 class="pb-2">Characteristics</h3>
                                            <p>Classification: <%=userSightings[i].bird.classification%></p>
                                            <p>Subclass: <%=userSightings[i].bird.subclass%></p>
                                            <p>Main Color: <%=userSightings[i].bird.main_color%></p>
                                            <p>Size: <%=userSightings[i].bird.size%></p>
                                            <p>Beak Use: <%=userSightings[i].bird.beak_use%></p>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#Modal<%=i%>" >More Info</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="Modal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header ml-3"><%=userSightings[i].bird.species %></div>
                            <div class="modal-body">
                                <div class="row mb-5" style="width:100%; margin-left:auto; margin-right:auto;">
                                    <div class="image" style="height: 350px; padding-right:50px; max-width:70%">
                                        <img src="/images/<%=userSightings[i].bird.image%>" alt="image" style="max-height:350px; max-width:100%; margin-left:20px;">
                                    </div>
                                    <div class="text-holder" style="margin:0; padding:0; position:relative; width:200px;">
                                        <div class="text">
                                            <h3 class="pb-2">Characteristics</h3>
                                            <p>Classification: <%=userSightings[i].bird.classification%></p>
                                            <p>Subclass: <%=userSightings[i].bird.subclass%></p>
                                            <p>Main Color: <%=userSightings[i].bird.main_color%></p>
                                            <p>Size: <%=userSightings[i].bird.size%></p>
                                            <p>Beak Use: <%=userSightings[i].bird.beak_use%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="description col-md-12">
                                    <p style="text-align:center;">Description</p>
                                    <p><%=userSightings[i].bird.description%></p>
                                </div>
                            </div>
                            <div class="modal-footer ">
                                <p style="margin-left:auto; margin-right:auto;">Sighted on: <%=userSightings[i].date.toDateString() %></p>
                            </div>
                          </div>
                        </div>
                      </div>
    
                    <% } %>
                <% } %>
            <% } else {%>
<h2 class="pt-4 pb-2" style="text-align:center;">- Sightings -</h2>
<p style="text-align:center;">View all of your past bird sightings.</p>
<div class="container mt-5 pt-4">
    <div class="row">
        <%for(let i = 0; i < userSightings.length; i = i+3) { %>
            <% if(userSightings[i]) { %>
                <div class="col1 col-md-4" data-aos="fade-up">
                    <div class="card text-black bg-secondary mb-3 px-0" style="height:400px;">
                        <div class="card-header"><%=userSightings[i].bird.species %></div>
                        <div class="card-body">
                            <div class="image" style="height: 220px;">
                                <img src="/images/<%=userSightings[i].bird.image%>" alt="image" style="max-height:100%; max-width:100%; display: block; margin-left: auto; margin-right:auto;">
                            </div>
                                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#Modal<%=i%>" style="margin-top:35px;">More Info</button>
                        </div>
                    </div>
                </div>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="Modal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header ml-3"><%=userSightings[i].bird.species %></div>
                        <div class="modal-body">
                            <div class="row mb-5" style="width:100%; margin-left:auto; margin-right:auto;">
                                <div class="image" style="height: 350px; padding-right:50px; max-width:70%">
                                    <img src="/images/<%=userSightings[i].bird.image%>" alt="image" style="max-height:350px; max-width:100%; margin-left:20px;">
                                </div>
                                <div class="text-holder" style="margin:0; padding:0; position:relative; width:200px;">
                                    <div class="text">
                                        <h3 class="pb-2">Characteristics</h3>
                                        <p>Classification: <%=userSightings[i].bird.classification%></p>
                                        <p>Subclass: <%=userSightings[i].bird.subclass%></p>
                                        <p>Main Color: <%=userSightings[i].bird.main_color%></p>
                                        <p>Size: <%=userSightings[i].bird.size%></p>
                                        <p>Beak Use: <%=userSightings[i].bird.beak_use%></p>
                                    </div>
                                </div>
                            </div>
                            <div class="description col-md-12">
                                <p style="text-align:center;">Description</p>
                                <p><%=userSightings[i].bird.description%></p>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <p style="margin-left:auto; margin-right:auto;">Sighted on: <%=userSightings[i].date.toDateString() %></p>
                        </div>
                      </div>
                    </div>
                  </div>

            <% } %>
            <% if(userSightings[i+1]) { %>
                <div class="col1 col-md-4" data-aos="fade-up">
                    <div class="card text-black bg-secondary mb-3 px-0" style="height:400px;">
                        <div class="card-header"><%=userSightings[i+1].bird.species %></div>
                        <div class="card-body">
                            <div class="image" style="height: 220px;">
                                <img src="/images/<%=userSightings[i+1].bird.image%>" alt="image" style="max-height:100%; max-width:100%; display: block; margin-left: auto; margin-right:auto;">
                            </div>
                                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#Modal<%=i+1%>" style="margin-top:35px;">More Info</button>
                        </div>
                    </div>
                </div>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="Modal<%=i+1%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header ml-3"><%=userSightings[i+1].bird.species %></div>
                        <div class="modal-body">
                            <div class="row mb-5" style="width:100%; margin-left:auto; margin-right:auto;">
                                <div class="image" style="height: 350px; padding-right:50px; max-width:70%">
                                    <img src="/images/<%=userSightings[i+1].bird.image%>" alt="image" style="max-height:350px; max-width:100%; margin-left:20px;">
                                </div>
                                <div class="text-holder" style="margin:0; padding:0; position:relative; width:200px;">
                                    <div class="text">
                                        <h3 class="pb-2">Characteristics</h3>
                                        <p>Classification: <%=userSightings[i+1].bird.classification%></p>
                                        <p>Subclass: <%=userSightings[i+1].bird.subclass%></p>
                                        <p>Main Color: <%=userSightings[i+1].bird.main_color%></p>
                                        <p>Size: <%=userSightings[i+1].bird.size%></p>
                                        <p>Beak Use: <%=userSightings[i+1].bird.beak_use%></p>
                                    </div>
                                </div>
                            </div>
                            <div class="description col-md-12">
                                <p style="text-align:center;">Description</p>
                                <p><%=userSightings[i+1].bird.description%></p>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <p style="margin-left:auto; margin-right:auto;">Sighted on: <%=userSightings[i+1].date.toDateString() %></p>
                        </div>
                      </div>
                    </div>
                  </div>
            <% } %>
            <% if(userSightings[i+2]) { %>
                <div class="col1 col-md-4" data-aos="fade-up">
                    <div class="card text-black bg-secondary mb-3 px-0" style="height:400px;">
                        <div class="card-header"><%=userSightings[i+2].bird.species %></div>
                        <div class="card-body">
                            <div class="image" style="height: 220px;">
                                <img src="/images/<%=userSightings[i+2].bird.image%>" alt="image" style="max-height:100%; max-width:100%; display: block; margin-left: auto; margin-right:auto;">
                            </div>
                                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#Modal<%=i+2%>" style="margin-top:35px;">More Info</button>
                        </div>
                    </div>
                </div>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="Modal<%=i+2%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header ml-3"><%=userSightings[i+2].bird.species %></div>
                        <div class="modal-body">
                            <div class="row mb-5" style="width:100%; margin-left:auto; margin-right:auto;">
                                <div class="image" style="height: 350px; padding-right:50px; max-width:70%">
                                    <img src="/images/<%=userSightings[i+2].bird.image%>" alt="image" style="max-height:350px; max-width:100%; margin-left:20px;">
                                </div>
                                <div class="text-holder" style="margin:0; padding:0; position:relative; width:200px;">
                                    <div class="text">
                                        <h3 class="pb-2">Characteristics</h3>
                                        <p>Classification: <%=userSightings[i+2].bird.classification%></p>
                                        <p>Subclass: <%=userSightings[i+2].bird.subclass%></p>
                                        <p>Main Color: <%=userSightings[i+2].bird.main_color%></p>
                                        <p>Size: <%=userSightings[i+2].bird.size%></p>
                                        <p>Beak Use: <%=userSightings[i+2].bird.beak_use%></p>
                                    </div>
                                </div>
                            </div>
                            <div class="description col-md-12">
                                <p style="text-align:center;">Description</p>
                                <p><%=userSightings[i+2].bird.description%></p>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <p style="margin-left:auto; margin-right:auto;">Sighted on: <%=userSightings[i+2].date.toDateString() %></p>
                        </div>
                      </div>
                    </div>
                  </div>
            <% } %>
        <% } %>
    </div>
</div>
<% } %>
</div>
</div>