<div class="background" style="background-image:url('/images/bgSplash4.jpg'); z-index:1; filter:blur(3px); background-size: contain; background-size: cover; height: 100%; margin-top:0; padding-top:25px;"></div>
  <div class="holder" style="position: absolute; top:0; left: 0; z-index: 2; width:100%; height: 100%; padding-top:100px">
        <div class="card card-body m-auto" style="border:none; padding-top:45px; z-index:2; border-radius:5px; height:660px; width:40%;">
          <div class="row">
            <div class="col-md-6" style="padding-right: 20px; border-right: 1px solid #dddddd">
              <div class="login-text-container" style="width:100%; margin-left:auto; margin-right: auto; padding-left:30px;"> 
                <h1 style="font-size:60px; padding-bottom:20px;">Birdhub <i class="fas fas fa-feather fa-1x"></i> </h1>
                <p class="pb-3">
                  BirdHub is an application that allows you to search birds you have seen by image, or physical characteristics. Here you can find birds you have seen, and add bird sightings to your account page to keep track of all of the birds you have spotted and identified. Here on Birdhub you can view the characteristics of each bird, and read a short description that includes interesting facts. Birdhub provides a place to discover, learn, and track everything you would ever want as either a beginnner bird watcher, or an experienced bird enthusiest.
                </p>
                <blockquote class="blockquote">
                  <p class="mb-0 pt-4 pb-2" style="font-size:14px;">Wow I love BirdHub. It is the best project in the Senior project class. I wish my project was this cool. Amazing.</p>
                  <footer class="blockquote-footer" style="padding-bottom:20px;">Everyone in <cite title="Source Title">CSI 4999</cite></footer>
                </blockquote>
                <p class="lead mt-4">
                Search without an account. <a href="/">Search</a>
                </p>
              </div>
            </div>

            <div class="col-md-6">
              <!-- <%- include ('partials/messages') %> --> 
              <form action="/users/register" method="POST">
                <div class="form-group">
                  <label for="fname">First Name</label>
                  <label for="password" style="color: red;"><% if(firstError != '') { %>
                    <%= firstError %>
                    <% } %> 
                  </label>
                  <input
                    type="name"
                    id="fname"
                    name="fname"
                    class="form-control"
                    placeholder="Enter First Name"
                    value="<%= typeof fname != 'undefined' ? fname : '' %>"
                  />
                </div>
                <div class="form-group">
                      <label for="lname">Last Name</label>
                      <label for="password" style="color: red;"><% if(lastError != '') { %>
                        <%= lastError %>
                        <% } %> 
                      </label>
                      <input
                        type="name"
                        id="lname"
                        name="lname"
                        class="form-control"
                        placeholder="Enter Last Name"
                        value="<%= typeof lname != 'undefined' ? lname : '' %>"
                      />
                    </div>
                <div class="form-group">
                  <label for="email">Email </label>
                  <label for="email" style="color: red;">
                    <% if(emailTakenError != '') { %>
                    <%= emailTakenError %>
                    <% } %> 
                    <% if(emailError != '') { %>
                    <%= emailError %>
                    <% } %> 
                  </label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password </label>
                  <label for="password" style="color: red;"><% if(passwordLengthError != '') { %>
                    <%= passwordLengthError %>
                    <% } %> 
                  </label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Create Password"
                    value="<%= typeof password != 'undefined' ? password : '' %>"
                  />
                </div>
                <div class="form-group">
                  <label for="password2">Confirm Password</label>
                  <label for="password2" style="color: red;"><% if( passwordMatchError != '') { %>
                    <%= passwordMatchError %>
                    <% } %> 
                  </label>
                  <input
                    type="password"
                    id="password2"
                    name="password2"
                    class="form-control"
                    placeholder="Confirm Password"
                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                  />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  Register
                </button>
              </form>
              <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>

            </div>
          </div>
        </div>
      </div>